* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	margin: 0px;
	overflow-x: hidden;
}

.navbar {
	position: fixed;
	background-color: #F7F7F7;
	top:0px;
	width: 100%;	
	z-index: 10;
}

.navbar .navbar-list {
	list-style-type: none;
	margin:0px;
	float: right;
	font-size: 0px;
}

.navbar .navbar-list .navbar-item {
	display: inline-block;
	font-size: 16px;
}

.navbar .navbar-list .navbar-item.active {
	color: #F7F7F7;
	background-color: #A4A4A4;
}

.navbar .navbar-list .navbar-item.active-reverse {
	color: #101010;
	background-color: #F7F7F7;
}

.navbar .navbar-list .navbar-item a {
	display: inline-block;
	text-decoration: none;
	padding: 20px;
	color: rgba(0, 0, 0, 0.92);
	transition: all 0.5s linear;
}

.navbar .navbar-list .navbar-item a:hover {
	color: #F7F7F7;
	background-color: #A4A4A4;
}


.title-img {
	width: 100%;
	height: 100vh;	
	background-image: url(../img/background-image.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center center;
}

.title {
	position: absolute;
	left: 0px;
	top: 65%;
	width: 100%;
	color: #ffffff;
	text-align: center;
	font-size: 100px;
	line-height: 135px;
}

.title-cite {
	position: absolute;
	left: 0px;
	top:60%;
	color: #ffffff;
	width: 100%;
	text-align: center;	
	font-size: 28px;
	line-height: 30px;
}

.clearfix {
	overflow: auto;
}

#map {
	height: 500px;
	margin: 0px 20px;
}

.section-container{
	padding: 60px 0px;
}

.informacion-quien-soy {
	float: left;
}

.foto-quien-soy {
	float: right;
	margin: 0px 25%;
}

.encabezamientos {
	font-size: 36px;
	text-align: center;
	margin-bottom: 50px;
}

.sub-title{
	text-align: center;
}

.footer {
	background-color: rgba(0, 0, 0, 0.92);
	height: 50px;
	color: #FFF;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	justify-content: center;	
}

#estudios, #experiencia, #contacto {
	background-color: #000;
	color: #fff;
	margin-right: calc(-50vw + 50%);
	margin-left: calc(-50vw + 50%);	
}

.form .form-row{
	padding: 10px;
}

.foto-personal img {
	border-radius: 50%;	
}


.polaroid{	
	width:100%;		
}

.polaroid figure{
	text-align:center;
	width:320px;
	height: 300px;
	margin-left:6%;
	margin-top:10%;	
	background-color: #fff;
}

.sombra-polaroid{
	-webkit-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
	background: rgba(240,235,201,1);
	background: -moz-linear-gradient(left, rgba(240,235,201,1) 0%, rgba(255,255,255,1) 17%, rgba(250,236,220,1) 51%, rgba(255,255,255,1) 81%, rgba(250,236,220,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(240,235,201,1)), color-stop(17%, rgba(255,255,255,1)), color-stop(51%, rgba(250,236,220,1)), color-stop(81%, rgba(255,255,255,1)), color-stop(100%, rgba(250,236,220,1)));
	background: -webkit-linear-gradient(left, rgba(240,235,201,1) 0%, rgba(255,255,255,1) 17%, rgba(250,236,220,1) 51%, rgba(255,255,255,1) 81%, rgba(250,236,220,1) 100%);
	background: -o-linear-gradient(left, rgba(240,235,201,1) 0%, rgba(255,255,255,1) 17%, rgba(250,236,220,1) 51%, rgba(255,255,255,1) 81%, rgba(250,236,220,1) 100%);
	background: -ms-linear-gradient(left, rgba(240,235,201,1) 0%, rgba(255,255,255,1) 17%, rgba(250,236,220,1) 51%, rgba(255,255,255,1) 81%, rgba(250,236,220,1) 100%);
	background: linear-gradient(to right, rgba(240,235,201,1) 0%, rgba(255,255,255,1) 17%, rgba(250,236,220,1) 51%, rgba(255,255,255,1) 81%, rgba(250,236,220,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0ebc9', endColorstr='#faecdc', GradientType=1 );
}


.polaroid img{
	margin-top:10px;
	width: 300px;
	height: 200px;
}

#polaroid1{
	transform: rotate(-6deg);
	margin: 0 auto;
}

#polaroid2{
	margin: 0 auto;
}

#polaroid3{
	transform: rotate(6deg);
	margin: 0 auto;
}

#polaroid1:hover{
	animation: agrandar1 1s linear 1;
	animation-fill-mode: forwards;
}

#polaroid2:hover{
	animation: agrandar2 1s linear 1;
	animation-fill-mode: forwards;
}

#polaroid3:hover{
	animation: agrandar3 1s linear 1;
	animation-fill-mode: forwards;
}

input[type=button], input[type="submit"], input[type=reset], button {
	background-color: #4CAF50;
	border: none;
	color: #FFF;
	padding: 15px 40px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 0px;
}

figcaption {
	text-align: center;
}

.texto-experiencia {
	font-family: 'Reenie Beanie', cursive;
	font-size:2em;
	color: #000000;
}

.periodo {
	font-family: 'Reenie Beanie', cursive;
	font-size:0.5em;
	color: #000000;
}

#barra-progreso {
  position: relative;
  width: 100%;
  height: 30px;
  background-color: #ddd;
}

#mi-barra {
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: #4CAF50;
}

#label {
  text-align: center;
  line-height: 30px;
  color: white;
}

#barra-progreso {
 	width: 100%;
    height: 40px;
    background-color: #eee;
    padding: 2px;
    margin: .6em 0;
    border: 1px #000 double;
    clear: both;
}

.mi-barra {
	background: #A1C969; /*-- Color of the bar --*/
    height: 30px;
    width: 0%;
    max-width: 100%;
    float: left;
}

.mi-barra.start{
	-webkit-animation: progress 2s 1 forwards;
    -moz-animation: progress 2s 1 forwards;
    -ms-animation: progress 2s 1 forwards;
    animation: progress 2s 1 forwards;
}

#label{
	height: 30px;
    width: 100%;
    overflow: hidden;
    -moz-opacity: 0.25;
    -khtml-opacity: 0.25;
    opacity: 0.25;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=25);
    filter: alpha(opacity=25);
}


/* KEYFRAMES  */ 

@keyframes agrandar1{
	from {transform:rotate(-6deg) scale(1,1)}
	to {transform:rotate(0deg) scale(1.2,1.2)}
}

@keyframes agrandar2{
	from {transform: scale(1,1)}
	to {transform: scale(1.2,1.2)}
}

@keyframes agrandar3{
	from {transform:rotate(6deg) scale(1,1)}
	to {transform:rotate(0deg) scale(1.2,1.2)}
}

@-webkit-keyframes progress { 
    from { }

    to { width: 66% }
}

@-moz-keyframes progress { 
    from { }

    to { width: 66% }
}

@-ms-keyframes progress { 
    from { }

    to { width: 66% }
}

@keyframes progress { 
    from { }

    to { width: 66% }
}