*{
	margin: 0px;
	padding: 0px;
}

.title-img {
	width: 100%;
	height: 100vh;	
	background-image: url(../img/background-image.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center center;
}